body
{
    margin : 0;
    padding : 0;

}

h1
{
    background-color: #960000;
    color : white;
    margin: 0;
    padding: 20px;
    text-align: center;

}

a
{
   color: blue;
}

.container
{
    width: 600px;
    margin: 20px auto;
    border: 1px solid #960000;
    border-radius: 5px;
}